<!-- footer.component.html -->

<div class="footer">
  <div class="footer-content">
    <div class="footer-section1">
      <img src="path/to/your/logo.png" alt="Logo" class="footer-logo">
      <div class="social-media">
        <!-- Add your social media icons here -->
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-section2">
      
      <h3><i class="fa-solid fa-house-chimney"></i> AGENCE</h3>
      <ul>
        <li><a href="#">Qui sommes nous</a></li>
        <li><a href="#">Nos points forts</a></li>
        <li><a href="#">Dans le monde</a></li>
        <li><a href="#">Travaillez avec nous</a></li>
      </ul>
    </div>
    <div class="footer-section3">
      <h3><i class="fa-solid fa-building"></i> SIÈGE NATIONAL</h3>
      <p>Campus Universitaire Mrezgua - 8000 nabeul
        <br>
        TÉL : +216 72 220 051 / 72 220 035
        <br>
        FAX : +216 72 220 033</p>
    </div>
    <div class="footer-section4">
      <h3><i class="fa-solid fa-globe"></i> TECNOCASA DANS LE MONDE</h3>
      <p>Italie, Espagne, Hongrie, Mexique, Pologne, France, Allemagne, Tunisie, Thaïlande, République de Saint-Marin</p>
    </div>
  </div>
  <p id="rights">© Copyright All rights reserved</p>
</div>
