.content1{
    border: 1px solid black;
    margin: 0 auto;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.content2{  
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

}

.firsCards {
    display: flex;
    justify-content: space-between;
}