// box-with-image.component.scss

.box-with-image {
    background: url('../../assets/desktop_11.jpg') center/contain no-repeat; // Adjust the path based on your project structure
    color: #fff;
    text-align: center;
    padding: 50px;
    height: 45vh; // Set the height to 100% of the viewport height
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .box-content {
      max-width: 800px;
      margin: 0 auto;
    }
  
    .box-text {
      font-size: 24px;
      font-weight: bold;
    }
  }
  